.navigation{
    z-index: 2;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    height: 10rem;
    background: rgba(0, 0, 0, 0.322);
align-items: center;

@include media('<phone'){
    height: 15rem;
  }
  
    button{
        font-size: 6rem;
        text-align: center; 
        color: white;
    }
}