
$shark:#242626;
$mine-shaft: #333333;
$alto:#e0e0e0;
$concrete:#f3f3f3;
$seashell:#f1f1f1;
$white: #ffffff;


$barley-corn: #a58961;
$tobacco-brown: #726248;
$indigo:#4f6dcd;

$color-cadet-blue: #b2bbc3;
$color-bright-gray: #27284c;

$font-george-x: "George X";
$font-suisse-bp: "Suisse";

$ease-out-expo: cubic-beizer(0.19, 1, 0.22, 1);

$z-indexes: ("preloader", "navigation", "content");
